*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
footer{
	width:100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer_container{
	width:55%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer_container img{
	width:50px;
	height: 50px;
}
@media only screen and (max-width: 1400px) 
{
	.footer_container{
		width:65%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
@media only screen and (max-width: 1200px) 
{
	.footer_container{
		width:75%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
@media only screen and (max-width: 1035px) 
{
	.footer_container{
		width:100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
@media only screen and (max-width: 900px) 
{
	.footer_container{
		width:80%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}
	.footer_container p{
		font-size: 0.8rem;
	}
}